body {
    background-color: #17242C;
    color: #fff;
    font-family: 'Roboto Condensed Variable', sans-serif;
}

.song-list i {
    margin-top: 7px;
}

.song-list a {
    color: #fff;
}

.song-details {
    background-color: #222F36;
    border-radius: 5px;
    padding: 5px;
}

.genre-list li {
    margin-right: 5px;
}

.mixed-vinyl-container {
    background: rgb(23, 36, 44);
    background: linear-gradient(180deg, rgba(23, 36, 44, 1) 1%, rgba(34, 47, 54, 1) 97%);
    border-radius: 5px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.mixed-vinyl-container:hover {
    color: #fff;
}
